<h1>Age Calculator</h1>
<h3>Please, enter your age:</h3>
<form method="POST">
    {% csrf_token %}
    <label for="day">Dia:</label>
    <input type="number" name="day" id="day" min="1" max="31" required>
    
    <label for="month">Mes:</label>
    <input type="number" name="month" id="month" min="1" max="12" required>
    
    <label for="year">Año:</label>
    <input type="number" name="year" id="year" min="1900" max="2024" required>
    
    <button>Submit</button>
</form>
{% if age %}
    <p>You are {{age}} years old</p>
{% endif %}